* {
    margin: 0;
    padding: 0;
    font-family: 'Wix Madefor Display', sans-serif;
}
.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(\resources\images\Things-To-Do-Mirissa-Sri-Lanka-parrot-rock.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.back-img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 13px ;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
}

.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
@media(max-width: 700px){
    .text-box h1 {
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: rgb(69, 160, 217);
        height: 1000vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}

@media(max-width: 700px){
    .cate1-col{
        font-size: 20px;
    }
    
        .row{
            flex-direction: column;
        }
    
}
/*category section**/
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.category1{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;

}
.cate1-col{
    flex-basis: 48%;
    padding: 30px 2px;
}
.cate1-col img{
    width: 100%;
}

.content-table {
    border-collapse: collapse;
    margin: 15px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    justify-content: center;
}

.content-table thead tr {
    background-color: #005198;
    color: #fff3ff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}




/**footer**/
.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
